{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>红景天老人公寓住房管理系统</title>
    <link href="{{STATIC_PREFIX}}css/Photobooth.css" rel="stylesheet">
    <link href="{{STATIC_PREFIX}}bootstrap-3.2.0-dist/css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_PREFIX}}bootstrap-3.2.0-dist/css/dashboard.css" rel="stylesheet">
    
    <script src="{{STATIC_PREFIX}}holder.js"></script>
    <script src="{{STATIC_PREFIX}}jquery/jquery.js"></script>
    <script src="{{STATIC_PREFIX}}js/photobooth_min.js"></script>
    <script src="{{STATIC_PREFIX}}bootstrap-3.2.0-dist/js/bootstrap.js"></script>
    <style type="text/css">
    .navbar-inverse .navbar-brand {
      color: #ddd;
    }
    </style>
</head>

<body >
    <!-- 固定头 -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{%url 'home'%}">红景天老人公寓住房管理系统</a>
            </div>
          </div>
        </div>
    <div class="container-fluid">
          <div class="row">
            

                <!-- 边栏 -->
                <div class="col-sm-3 col-md-2 sidebar">
                  <ul class="nav nav-sidebar">
                    <li class={{home_active}}><a href="{%url 'home'%}">概述</a></li>
                    <li class={{room_active}}><a href="{%url 'rooms_page'%}">床位登记</a></li>
                    <li class=""><a href="{%url 'messages'%}">消息</a></li>
                    <li ><a href="{%url 'home_client_page'%}">客户端</a></li>
                  </ul>
                </div>
                <!-- 主要内容 -->
                <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2  main">
                {%block tips%}
                    {% if messages %}
                        <div class="messages ">
                        {% for message in messages %}
                            <div class="message">
                            <div class="alert alert-{{ message.tags }}" data-alert="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {{ message }}
                            </div>
                            </div>
                        {% endfor %}
                        </div>
                    {% endif %}
                {%endblock%}
                {% block mod_content%}
                    
                {%endblock%}
                </div>  
            </div>
    </div>
    {%block jsset %}
    {%endblock%}
    {{foot_mod}}
    </body>

</html>
