{% extends 'base.html' %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{%block mod_content%}
<h2 class="page-header">红景天老人公寓住房管理系统</h2>
<div>
  <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
          <img  class="img-responsive" alt="200x200" src="{{STATIC_PREFIX}}img/user.png">
          <h4>入住客人数量</h4>
          <span class="text-muted">当前有{{beds_occupyied_counts}}位客人</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
          <img  class="img-responsive" alt="200x200" src="{{STATIC_PREFIX}}img/home.png" style="width: 200;height: 200;">
          <h4>剩余床位</h4>
          <span class="text-muted">当前剩余{{beds_avilable_counts}}张床位</span>
        </div>
      </div>
    <h2 class="sub-header">客人名单</h2>
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>姓名</th>
          <th>头像</th>
        </tr>
      </thead>
      <tbody>
      {%for w in whos%}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{w.name}}</td>
          <td><img class="img-responsive img-thumbnail" src="{{w.avatar.url}}" style="width: 100px; height:100px; "></td>
        </tr>
      {%endfor%}

      </tbody>


    </table>
    </div>
</div>




{%endblock%}