{% extends 'client_base.html'%}
{% load redpoint_tags %}

{% block mod_content%}
    {%for o in objects.values%}

        <div class="bed {{beds_class}}"> 
            <div class="thumbnail">
              {%if not o.who %}
              <img  src="{{MEDIA_URL}}{%resize_thumbnail '/media/avatars/photoprofile.png' 280 200 %}" class='placeholder'>
              {%else%}
              <img  src="{{MEDIA_URL}}{%resize_thumbnail o.who.avatar 260 0 %}" class='avatar'>
              <div class="caption">
                  <p>{{o.who.name}}</p>
              </div>
              {%endif%}
              <h5>床位 {{o.number}}</h5>
            </div>
              
        </div>
    {%endfor%}

<script type="text/javascript">
    /*第一次读取最新通知*/
    setTimeout(function() {
             Push();},
        3000);
      /*30轮询读取函数*/
    setInterval(function() {
            Push();}, 
            30000);

/*请求函数的ajax*/

function Push() {
    // location.reload()
}
</script>


{%endblock%}
