{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% load redpoint_tags %}
  {%if message%}
  <div class="msg">{{message}}</div>
  {%endif%}
{%for o in objects.values%} 
    <div class="bed {{beds_class}}"> 
          {%if not o.who %}
          <div class="thumbnail" style="background: url({{STATIC_PREFIX}}img/default/{{order_img}}.jpg) round round;">
            <!-- <img src="{{MEDIA_URL}}avatars/photonone.png"> -->
            <!-- <p>欢迎入住</p> -->
          </div>
          {%else%}
            {%if beds_class == '2'%}
          <div class="thumbnail">
            <img src="{{MEDIA_URL}}{%resize_thumbnail o.who.avatar 400 0 %}" class='avatar' alt="{{beds_class}}">
          </div>
            {%else%}
              {%if beds_class == '4'%}
              <div class="thumbnail">
                <img src="{{MEDIA_URL}}{%resize_thumbnail o.who.avatar 320 0 %}" class='avatar' alt="{{beds_class}}">  
              </div>
              {%else%}
              <div class="thumbnail">
                    <img src="{{MEDIA_URL}}{%resize_thumbnail o.who.avatar 320 0 %}" class='avatar'alt="{{beds_class}}"> 
              </div>
              {%endif%}
          {%endif%}

          {%endif%} 
        <div class="caption">
        {%if not o.who %}
          <p>无</p>
        <h5>床位 {{o.number}}</h5> 
        {%else%}
          <p>{{o.who.name}}</p>
        <h5>床位 {{o.number}}</h5> 
        {%endif%}
        </div>
    </div>
{%endfor%} 