{% extends 'client_base.html'%}
{% load redpoint_tags %}
{% load static %}

{%block extra_head%}
    <link rel="stylesheet" type="text/css" href="{%static 'css/room.css'%}">
    <style type="text/css">
        .nav-sidebar > .active > a:hover{background-color:#3276b1}
        .snav li{padding-left:15px;}
        .snav li a{font-size:12px;}
        body {
            background: url('{%static 'img/sea_1680x1050.jpg'%} ') center;
        }
    </style>

{%endblock%}

{% block mod_content%}
  <div id="pics">
    {%include 'client/piece_photo.html' with objects=objects %}
  </div>
<script type="text/javascript">  
    /*第一次读取最新通知*/
    setTimeout(function() {
             Push();},
        3000);
      /*30轮询读取函数*/
    setInterval(function() {
            Push();}, 
            30000);

/*请求函数的ajax*/

function Push() {
      $.ajax({
          type: "GET",
          url: "{{ajax_url}}",
          success: function(data) {
            $("#pics").html(data)
          }
      });
    
}
</script>

{%endblock%}
